@import "/home/ricky/.config/waybar/theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: "siji", "noto-fonts-emoji";
  min-height: 0;
}

window#waybar {
  background-color: rgba(29, 31, 33, 0.60);
}

#clock, #workspace, #mode, #, #network, #pulseaudio, #cpu, #memory, #battery, #tray, #temperature, #custom-weather {
  padding: 0 10px 0 10px;
  border-right: 0px solid @base03;
}

#clock {
  border-right: 1px solid @base03;
}

#window {
  padding: 0 20px 0 20px;
}

#custom-weather {
  padding-top: 3px;
  padding-left: 0;
}

#tray {
  border-left: 1px solid @base04;
  padding-right: 5px;
}

#network.disconnected {
  background-color: @base08;
}

#temperature.critical {
  background-color: @base0A;
  color: @base00;
}


#battery.charging {
  background-color: @base0C;
  color: #212121;
}	


@keyframes blink {
  to {
    background-color: @base00;
    color: #ffffff;
  }
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: @base09;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#workspaces button {
  padding: 0 5px 0 5px;
}

#workspaces button.focused {
  color: @base00;
  background-color: @base04;
}

#workspaces button.urgent {
  color: @base00;
  background-color: @base07;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

