* {
  border: none;
  border-radius: 0;
  font-family: "siji", "noto-fonts-emoji";
  min-height: 0;
}

window#waybar {
  border-bottom: 1px solid #484848;
}

#clock, #workspace, #mode, #, #network, #pulseaudio, #cpu, #memory, #battery, #tray, #temperature, #custom-weather {
  padding: 0 10px 0 10px;
  border-right: 0px solid #484848;
}

#clock {
  border-right: 1px solid #484848;
}

#window {
  padding: 0 20px 0 20px;
}

#custom-weather {
  padding-top: 3px;
  padding-left: 0;
}

#tray {
  border-left: 1px solid #484848;
  padding-right: 5px;
}

#network.disconnected {
  background-color: #484848;
}

#temperature.critical {
  background-color: #eb4d4b;
}


#battery.charging {
  background-color: #98ddca;
  color: #212121;
}	


@keyframes blink {
    to {
        background-color: #000000;
	color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #ffd3b4;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#workspaces button {
  padding: 0 5px 0 5px;
}

#workspaces button.focused {
  background-color: #484848;
}

#workspaces button.urgent {
  color: #000000;
  background-color: #ffffff;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

